// ------------------------------------
// BaseKit Standard Theme: LESS > Theme
// ------------------------------------


// -----------------------------
// #Table of Contents
// -----------------------------

// 1. #TYPOGRAPHY 
// 2. #HEADER 
// 3. #NAVIGATION
// 4. #PARALLAX
// 5. #FEATURE

// 6. #MAIN & CONTAINER
// 7. #FOOTER

// 8. #WIDGETS
// 9. #PLUGINS


// ---------------------------
// 1. #TYPOGRAPHY
// ---------------------------


body {
	background-color: @color-swatch2;
	font-smooth: always;
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	padding: 0;
	line-height: 1em;
}

h5 {
	font-family: @font-swatch4-font-family;
	font-size: @font-swatch5-font-size;
	font-weight: @font-swatch4-font-weight;
	color: @font-swatch4-color;
	letter-spacing: @font-swatch4-letter-spacing;
}

blockquote {
	margin: 0 0 50px;
	padding: 0;
	font-family: @font-swatch9-font-family;
	font-size: @font-swatch4-font-size;
	font-style: italic;
	&:before {
		display: none;
	}
}

.content .bk-content-text ol {
	list-style-position: inherit;
}


// ---------------------------
// 2. #HEADER
// ---------------------------


.bk-header {
	background: lighten(@color-swatch6, 5%);
	padding: 30px;
	width: 100%;
	text-align: right;
	position: fixed;
	top: 0;
	z-index: 1;
	@media @mobile {
		padding: 25px;
	}
}

.widget {
	&.logo, &.companyname {
		display: inline-block;
		vertical-align: middle;
		text-transform: uppercase;
		line-height: 0;
	}
	&.logo {
		margin-right: 12px;
	}
	&.companyname {
		@media @mobile {
			max-width: 80%;
		}
		a {
			@media @tablet {
				font-size: bkscale(@font-swatch10-font-size, 0.85);
				line-height: bkscale(@font-swatch10-line-height, 0.85);
			}
			@media @mobile {
				font-size: bkscale(@font-swatch10-font-size, 0.7);
				line-height: bkscale(@font-swatch10-line-height, 0.8);
			}
			@media only screen and (max-height: 450px) {
				font-size: bkscale(@font-swatch10-font-size, 0.7);
				line-height: bkscale(@font-swatch10-line-height, 0.8);
			}
		}
	}
}



// ---------------------------
// 3. #NAVIGATION
// ---------------------------


.bk-nav {
	background: transparent;
	height: 100%;
	position: fixed;
	left: -320px;
	width: 320px;
	.transition( all, 0.8s, ease);
	z-index: 9999;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	@media only screen and (max-height: 450px) {
		height: auto;
	}
	@media @mobile {
		left: -280px;
		width: 280px;
	}
	.widget.socialicons {
		padding: 30px 15px;
		margin: auto 0 0;
		.bk-socialicons-linkedin {
			a {
				background-image: image('/images/social/socialicons-linkedin.svg');
				opacity: .6;
				.transition(all, 0.5s, ease);
				&:hover {
					opacity: 1;
				}
			}
		}
		.bk-socialicons-twitter {
			a {
				background-image: image('/images/social/socialicons-twitter.svg');
				opacity: .6;
				.transition(all, 0.5s, ease);
				&:hover {
					opacity: 1;
				}
			}
		}
		.bk-socialicons-facebook {
			a {
				background-image: image('/images/social/socialicons-facebook.svg');
				opacity: .6;
				.transition(all, 0.5s, ease);
				&:hover {
					opacity: 1;
				}
			}
		}
		.bk-socialicons-rss {
			a {
				background-image: image('/images/social/socialicons-rss.svg');
				opacity: .6;
				.transition(all, 0.5s, ease);
				&:hover {
					opacity: 1;
				}
			}
		}
		.bk-socialicons-googleplus {
			a {
				background-image: image('/images/social/socialicons-googleplus.svg');
				opacity: .6;
				.transition(all, 0.5s, ease);
				&:hover {
					opacity: 1;
				}
			}
		}
		.bk-socialicons-youtube {
			a {
				background-image: image('/images/social/socialicons-youtube.svg');
				opacity: .6;
				.transition(all, 0.5s, ease);
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

.widget.extendednavigation {
	padding: 30px 15px;
	text-transform: uppercase;
	ul {
		display: block;
		padding: 0;
		list-style: none;
		width: 100%;
		@media @tablet {
			display: block;
		}
		li {
			display: block;
			padding: 10px 0;
			cursor: pointer;
			&:before {
				display: inline-block;
				text-decoration: inherit;
				width: 1em;
				color: white;
				margin-right: 12px;
				text-align: center;
				font-variant: normal;
				font-size: 0.75em;
				text-transform: none;
				line-height: 1em;
			}
			&:hover { 
				ul {
					color: @font-swatch6-color-hover;
					background: transparent;
					border: 2px solid fade(@color-swatch1, 10%);
					position: relative;
					margin-left: 20px;
					margin-top: 8px;
					width: 90%;
					li {
						padding: 12px 6px;
						&:first-child {
							padding-top: 20px;
						}
						&:last-child {
							padding-bottom: 20px;
						}
						a {
							padding-left: 15px;
						}
					}
					.text {
						font-size: bkscale(@font-swatch6-font-size, 0.9);
					}
				}
			}
			ul {
				display: none;
			}
			@media @tablet {
				border-bottom: none;
			}
			&.folder {
				color: @font-swatch6-color;
				&:after {
					//border-top-color: lighten(@color-swatch5, 32%);
					top: 22px;
				}
				.text {
					color: @font-swatch6-color;
					.transition(all, 0.5s, ease);
				}
			}
			a {
				.transition(all, 0.5s, ease);
				&:hover {
				}
			}
		}

	}
	a.pull {
		opacity: .5;
		position: absolute;
		left: 360px;
		top: 30px; 
		display: inline-block;
		width: 40px;
		height: 40px;
		overflow: hidden;
		cursor: pointer;
		outline: none;
		.transition(all, 0.5s, ease);
		&:hover {
			opacity: 1;
		}
		@media @mobile {
			left: 310px;
			top: 25px;
		}
		&:after {
			position: absolute;
			width: 40px;
			height: 40px;
			content: '';
			background-image: image('/images/ic-nav.svg');
			background-size: 40px;
			background-position: center center;
			background-repeat: no-repeat;
			background-color: transparent;
			@media @tablet {
				background-color: transparent!important;
				box-shadow: none!important;
			}
		}
	}
	.bk-overlay {
		width: 100%;
	}
}

div.widget .extendednavigation ul, div.widget.extendednavigation ul {
	display: block;
	li {
		display: block; 
	}
}

div.widget .extendednavigation > ul, div.widget.extendednavigation > ul {
	display: block!important;
}

.menu-active .widget.extendednavigation#slide-menu { 
	right: 0px; 
}

.menu-active .widget.extendednavigation a.pull {
	&:after {
		-ms-transform: rotate(45deg); /* IE 9 */
		-moz-transform: rotate(45deg); /* Mozilla */
		-webkit-transform: rotate(45deg); /* Safari */
		transform: rotate(45deg);
		background-color: transparent;
	}
}


.menu-active .bk-nav { 
	background-color: @color-swatch6;
	display: flex;
	height: 100%;
	position: absolute;
	left: 0; 
	.transition( all, 0.8s, ease);
	flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;

}



// ---------------------------
// 4. #PARALLAX
// ---------------------------


.parallax {
	-webkit-perspective: 300px;
	perspective: 300px;
	height: 500px; /* fallback for older browsers */
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	@media @tablet {
		height: 100%;
	}
}
.parallax_layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.parallax_layer-base {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.parallax_layer-back {
	-webkit-transform: translateZ(-300px) scale(2);
	transform: translateZ(-300px) scale(2);
	@media @mobile {
		transform: inherit;
		-webkit-transform: inherit;
	}
}

.parallax_group {
	position: relative;
	height: 500px; /* fallback for older browsers */
	height: 100vh;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	@media @tablet {
		height: 100%;
	}
}


// HOME parallax
// -------------

#group1 {
	z-index: 5;
	height: 100%;
}

#group2 {
	z-index: 6;
	background-color: @color-swatch2;
}


// Gallery parallax
// ----------------

#group3 {
	z-index: 5;
	height: 70%;
}



// ---------------------------
// 5. #FEATURE
// ---------------------------


.widget.feature {
	height: 100%;
	.feature-bgimg {
		height: 100%;
	}
}

.widget.feature .feature-bgimg .content {
	text-align: center;
	@media @mobile {
		padding: 100px 20px;
		-webkit-overflow-scrolling: touch;
	}
	.spare {
		max-width: 1200px;
		margin: 0 auto;
		padding: 40px;
		@media @mobile {
			padding: 20px;
		}
		/*@media only screen and (max-height: 450px) {
			position: relative;
			top: 30px;
			h2 {
				font-size: bkscale(@font-swatch1-font-size, 0.62);
				line-height: bkscale(@font-swatch1-line-height, 0.68);
				padding-bottom: 8px;
			}
			h3 {
				font-size: bkscale(@font-swatch5-font-size, 0.95);
				line-height: bkscale(@font-swatch5-line-height, 0.8);
			}
			button {
				padding: 8px 15px;
				margin-top: 12px;
			}
		} */
	}
	h2 {
		padding-bottom: 10px;
		@media @tablet {
			font-size: bkscale(@font-swatch8-font-size, 0.7);
			line-height: bkscale(@font-swatch8-line-height, 0.8);
		}
		@media @mobile {
			font-size: bkscale(@font-swatch8-font-size, 0.55);
			line-height: bkscale(@font-swatch8-line-height, 0.7);
		}
		@media only screen and (max-height: 420px) {
			font-size: bkscale(@font-swatch8-font-size, 0.55);
			line-height: bkscale(@font-swatch8-line-height, 0.7);
		}
	}
	h3 {
		font-style: italic;
		text-transform: none;
		@media @tablet {
			font-size: bkscale(@font-swatch9-font-size, 0.8);
			line-height: bkscale(@font-swatch9-line-height, 0.8);
		}
		@media @mobile {
			font-size: bkscale(@font-swatch9-font-size, 0.7);
			line-height: bkscale(@font-swatch9-line-height, 0.7);
		}
	}
	button {
		padding: 0 40px;
		&:hover {
		}
		@media @mobile {
			width: 100%;
			margin-top: 10px;
		}
		span {
			vertical-align: inherit;
		}
	}
}





// ---------------------------
// 6. #MAIN & CONTAINER
// ---------------------------



.container {
	padding: 50px;
	margin: 0 auto;
	max-width: 1400px;
	position: relative;
	background-color: @color-swatch2;
	@media @mobile {
		padding: 20px;
	}
}

.bk-pt-home .container {
	top: 0;
}

.bk-pt-default .container {
	top: 100px;
	margin-bottom: 100px;
	@media @tablet {
		top: 100px;
	}
	@media @mobile {
		top: 90px;
	}
}

.bk-pt-home .bk-footer {
	margin-top: 0;
}

#main {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	.border-radius(0px);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}




// ---------------------------
// 7. #FOOTER
// ---------------------------


.bk-footer {
	display: table;
	width: 100%;
	padding: 40px;
	border-top: 1px solid fade(@color-swatch6, 10%);
	position: relative;
	.copyright {
		text-align: left;
		.widget.profile {
		}
		@media @mobile {
			padding-bottom: 20px;
		}
	}
	.socialicons {
		float: right;
		margin: 0!important;
		opacity: 0.6;
	}
	.copyright, .socialicons {
		display: table-cell;
		vertical-align: middle;
		@media @mobile {
			display: block;
			width: 100%;
			text-align: center;
		}
	}
	.widget.profile .bk-profile-socialicons {
		margin: 0;
	}
}

.bk-footer .widget.profile .bk-profile-socialicons span a, .bk-footer .widget.profile .bk-profile-socialicons span a:hover {
	background-color: transparent;
}

.widget.profile .bk-profile-socialicons span {
	padding: 3px;
}












