// Widgets

// NAVIGATION

.bk-nav {
    z-index: 300;
	position: fixed;
	top: 0;
	left: -320px;
	width: 320px;
	height: 100%;
	background-color: @color-swatch6;
	.transition(all, 0.5s, ease);
	
	@media @mobile {
		left: -100%;
		width: 100%;
	}

	.menu-active & {
		left: 0;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

// LOGO & #COMPANY NAME

.widget {
	&.logo, &.companyname {
		display: inline-block;
		vertical-align: middle;
		text-transform: uppercase;
		line-height: 0;
	}

	&.logo {
		margin-right: 12px;

		a img {
			max-height: 40px;
			width: auto !important;
		}
	}

	&.companyname {
		@media @mobile {
			max-width: 80%;
		}

		a {
			@media @tablet {
				font-size: bkscale(@font-swatch10-font-size, 0.85);
				line-height: bkscale(@font-swatch10-line-height, 0.85);
			}

			@media @mobile {
				font-size: bkscale(@font-swatch10-font-size, 0.7);
				line-height: bkscale(@font-swatch10-line-height, 0.8);
			}
		}
	}
}

// NAVIGATION

.widget.navigation,
.widget.extendednavigation {
	padding: 80px 15px 30px;
	text-transform: uppercase;

	.bk-overlay {
		width: 100%;
	}
	
	&#slide-menu { 
		.menu-active & {
			right: 0px; 
		}
	}

	.extendednavigation {

        // Mobile Menu

		a.pull {
			opacity: .5;
			position: absolute;
			top: 33px;
			left: 360px;
			display: block;
			width: 30px;
			height: 30px;
			overflow: hidden;
			cursor: pointer;
			outline: none;
			.transition(all, 0.5s, ease);

			@media @mobile {
				left: calc(~"100% + 40px");
			}
	
			.menu-active & {
				left: 40px;
			}

			&:hover {
				opacity: 1;
			}
	
			&:after,
			&:before {
				content: '';
				position: absolute;
				top: 14px;
				left: 0;
				width: 30px;
				height: 2px;
				margin: 0px auto;
				background: @color-swatch1;
				box-shadow: 0 10px 0 @color-swatch1, 0 -10px 0 @color-swatch1;
				transition: top 0.05s ease-in-out, transform 0.05s ease-in-out, box-shadow 0.1s 0.05s ease-in-out;

				.menu-active & {
					box-shadow: 0 0 0 @color-swatch1, 0 0 0 @color-swatch1;
					transition: box-shadow 0.05s ease-in-out, top 0.1s 0.05s ease-in-out, transform 0.1s 0.05s ease-in-out;
				}
			}

			&:after {
				.menu-active & {
					transform: rotate(45deg);
				}
			}
	
			&:before {
				.menu-active & {
					transform: rotate(-45deg);
				}
			}
		}

		// Menu Points
		
		ul {
			display: block;
			padding: 0;
			list-style: none;
			width: 100%;
			float: none !important;
	
			@media @tablet {
				display: block;
			}
	
			// Menu Point
	
			li {
				display: block;
				border: none;
				padding: 10px 0;
	
				&:before {
					display: inline-block;
					text-decoration: inherit;
					width: 1em;
					color: white;
					margin-right: 12px;
					text-align: center;
					font-variant: normal;
					font-size: 0.75em;
					text-transform: none;
					line-height: 1em;
				}
	
				a,
				> .text {
					padding: 0 30px;

					&:hover,
					&:focus {
						color: @color-swatch3;
					}
				}
	
				// Folder
	
				&.folder {
					margin-right: 0;
					color: @font-swatch6-color;
		
					@media @tablet {
						border-bottom: none;
					}
		
					&:after {
						content: none;
					}
					
					> .text {
						.transition(all, 0.5s, ease);
						word-break: break-word;
	
						// Folder Arrow
	
						&:after {
							content: '';
							display: block;
							position: absolute;
							top: 50%;
							right: 0.5em;
							border: 2px solid fade(@font-swatch6-color, 40%);
							border-top: transparent;
							border-left: transparent;
							transform: rotate(45deg);
							margin-top: -0.5em;
							width: 0.5em;
							height: 0.5em;
						}
					
						&:hover:after {
							border-color: @font-swatch6-color-hover;
						}
					}
	
					// Dropdown
	
					> ul,
					&:hover > ul {
						display: block;
						overflow: hidden;
						opacity: 0;
						border: 2px solid transparent;
						background-color: transparent;
						position: relative;
						width: auto;
						height: 0;
						color: @font-swatch6-color-hover;
	
						@media @tablet {
							display: none;
							position: static;
							min-width: auto;
							max-width: none;
						}
	
						li {
							padding: 12px 6px;
	
							a {
								padding-left: 15px;
	
								.text {
									overflow: visible;
									word-break: break-word;
								}
							}
						}
	
						.text {
							font-size: bkscale(@font-swatch6-font-size, 0.9);
						}
					}
				}
		
				// Folder Open
		
				&.folder-open ul,
				&.folder-open:hover ul {
					display: block;
					opacity: 1;
					margin: 5px;
					margin-top: 1em;
					border: 2px solid fade(@color-swatch1, 10%);
					height: 100%;
					transition: height 0.25s ease-in-out, border 0.25s ease-in-out, opacity 0.25s ease-in-out;
	
					@media @tablet {
						display: block;
					}
				}
			}
		}
	}
	
	// Widget overlay

	.widget-overlay {
	    right: -120px;
	    
	    .widget__list {
	        display: inline;
            float: right;
            width: auto;
	    }
	    
	    .widget__item {
	        display: inline;
	        font-size: 0;
	        padding: 0;
	    }
	}
}

// FEATURE

.widget.feature {
	min-height: 100%;
	min-height: 100vh;

	.feature-bgimg {
		min-height: 100%;
		min-height: 100vh;

		.content {
			text-align: center;
	
			@media @mobile {
				padding: 100px 20px;
				-webkit-overflow-scrolling: touch;
			}
	
			.spare {
				max-width: 1200px;
				margin: 0 auto;
				padding: 40px;
	
				@media @mobile {
					padding: 20px;
				}
			}
	
			h2 {
				padding-bottom: 10px;
	
				@media @tablet {
					font-size: bkscale(@font-swatch8-font-size, 0.7);
					line-height: bkscale(@font-swatch8-line-height, 0.8);
				}
	
				@media @mobile {
					font-size: bkscale(@font-swatch8-font-size, 0.55);
					line-height: bkscale(@font-swatch8-line-height, 0.7);
				}
			}
	
			h3 {
				font-style: italic;
				text-transform: none;
				padding: 1em 1em 1.5em;
				
				@media @tablet {
					font-size: bkscale(@font-swatch9-font-size, 0.8);
					line-height: bkscale(@font-swatch9-line-height, 0.8);
				}
	
				@media @mobile {
					font-size: bkscale(@font-swatch9-font-size, 0.7);
					line-height: bkscale(@font-swatch9-line-height, 0.7);
				}
			}
	
			button {
				padding: 0 40px;
	
				@media @mobile {
					width: 100%;
					margin-top: 10px;
				}
	
				span {
					vertical-align: inherit;
				}
			}
		}
	}
}

// IMAGE

.widget.image {
	margin-bottom: 2em;

	a:hover {
		text-decoration: none;
	}

	span.image-title,
	span.image-description {
		margin: 0;
		color: @font-swatch5-color;
	
		.style--light & {
			color: @font-swatch5-color;
		}
		
		.style--accent & {
			color: @contrast--accent;
		}
	
		.style--dark & {
			color: @contrast--dark;
		}
	}

	span.image-title {
		margin-top: 1em;
	
		@media @mobile {
			margin-top: 0.5em;
		}
	}
}

// GALLERY

.widget.gallery {
	margin-left: 0;

	.gallery-widget li {
		width: 100%/3;
		
		@media @tablet {
			width: 100%/2;
		}
	
		@media @mobile {
			width: 100%;
		}
	
		.responsivecolumns & {
			width: 100%;
		}
	}
	
	ul li .inner {
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	
		a {
			display: table;
			width: 100%;
			height: 100%;
		}
	}
	
	ul li span.inner {
		text-align: center;
	
		.title {
			color: @color-swatch1;
			font-family: @font-swatch3-font-family;
			font-weight: @font-swatch3-font-weight;
			font-size: @font-swatch3-font-size;
			text-transform: uppercase;
		}
	
		.description {
			color: @color-swatch1;
			font-family: @font-swatch5-font-family;
			font-weight: @font-swatch5-font-weight;
			font-size: @font-swatch5-font-size;
		}
	}
	
	.inner .image-data {
		background: fade(@color-swatch4, 65%);
		.flex-display;
		.flex-direction(column);
		.align-items(center);
		.justify-content(center);
		opacity: 0;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		vertical-align: middle;
	}
	
	.inner:hover .image-data {
		.flex-display;
		.transition(opacity, 0.5s, ease );
		opacity: 1;
	}
}

// SLIDESHOW

.widget.responsiveslideshow {
	margin-top: 20px;

	.content-wrapper {
		background-color: fade(@color-swatch1, 75%);
		left: 10px;
		right: 10px;
		bottom: 10px;

		span {
			display: block;
			line-height: 1.2em;
			color: @color-swatch5;

			&.title {
				padding: 15px;
				font-family: @font-swatch3-font-family;
				font-weight: @font-swatch3-font-weight;
				font-size: @font-swatch3-font-size;
				text-transform: uppercase;
			}

			&.description {
				padding: 15px;
			}

			&.title + .description {
				margin-top: -20px;
			}
		}
	}

	.slideshow-widget {
		background-color: fade(@font-swatch7-background-color, 10%);
	
		.style--light & {
			background-color: fade(@font-swatch7-background-color, 10%);
		}
			
		.style--accent & {
			background-color: fade(@color--dark, 10%);
		}
	
		.style--dark & {
			background-color: fade(@color--accent, 10%);
		}

		.btn-play,
		.btn-prev,
		.btn-next {
			position: absolute;
			opacity: 1;
			top: 50%;
            background-color: @font-swatch7-background-color;
			width: 40px;
			height: 40px;
			margin-top: -20px;
			.transition(background-color, 0.15s, ease-in-out);
			font-size: 0;
			line-height: 0;
            color: @font-swatch7-color;

            .style--light & {
                background-color: @font-swatch7-background-color;
                color: @font-swatch7-color;
            }
        
            .style--accent & {
                background-color: @color--dark;
                color: @contrast--dark;
            }
        
            .style--dark & {
                background-color: @color--accent;
                color: @contrast--accent;
            }

			&:hover {
                background-color: @font-swatch7-background-color-hover;

                .style--light & {
					background-color: @font-swatch7-background-color-hover;
                }

                .style--accent & {
                    background-color: lighten(@color--dark, 10%);
                }

                .style--dark & {
                    background-color: darken(@color--accent, 10%);
                }
			}

			&:after {
				content: '';
				display: block;
				color: @font-swatch7-color;
				background: transparent;
				top: 50%;
				left: 50%;
				margin-top: -10px;
				margin-left: -5px;

                .style--light & {
					color: @font-swatch7-color;
                }
            
                .style--accent & {
                    color: @contrast--dark;
                }
            
                .style--dark & {
                    color: @contrast--accent;
                }
			}
		}

		.btn-play {
    		left: 50%;
			margin-left: -20px;

			&:after,
			&.pause:after {
				height: 0;
				width: 0;
				border: 10px solid transparent;
				border-left: 15px solid @font-swatch7-color;

                .style--light & {
                    border-color: @font-swatch7-color;
                }
            
                .style--accent & {
                    border-color: @contrast--dark;
                }
            
                .style--dark & {
                    border-color: @contrast--accent;
                }
			}

			&.pause:after {
				height: 18px;
				width: 6px;
				margin-top: -9px;
				margin-left: -6px;
				border: none;
				border-left: 3px solid @font-swatch7-color;
				border-right: 3px solid @font-swatch7-color;

                .style--light & {
                    border-color: @font-swatch7-color;
                }
            
                .style--accent & {
                    border-color: @contrast--dark;
                }
            
                .style--dark & {
                    border-color: @contrast--accent;
                }
			}
		}

		.btn-prev,
		.btn-next {
			&:after {
				border: 3px solid @font-swatch7-color;
				transform: rotate(45deg);
				margin-top: -6px;
				margin-left: auto;
				left: auto;
				right: auto;
				width: 8px;
				height: 8px;

                .style--light & {
                    border-color: @font-swatch7-color;
                }
            
                .style--accent & {
                    border-color: @contrast--dark;
                }
            
                .style--dark & {
                    border-color: @contrast--accent;
                }
			}
		}

		.btn-prev {
			&:after {
				border-top: transparent;
				border-right: transparent;
				margin-left: -4px;
				left: 50%;
			}
		}

		.btn-next {
			&:after {
				border-bottom: transparent;
				border-left: transparent;
				margin-right: -4px;
				right: 50%;
			}
		}
	}

	.slideshow-widget-controls {
		margin: 10px 10px 20px;

		.dot {
			height: 10px;
			width: 10px;
			margin: 0 5px;
			background-color: transparent;
			border: 2px solid @font-swatch7-background-color;
			.border-radius(100px);

			.style--light & {
				border-color: @font-swatch7-background-color;
			}

			.style--accent & {
				border-color: @contrast--accent;
			}

			.style--dark & {
				border-color: @color--accent;
			}

			&:hover {
				background-color: fade(@font-swatch7-background-color, 20%);
				cursor: pointer;

				.style--light & {
					background-color: fade(@font-swatch7-background-color, 20%);
				}

				.style--accent & {
					background-color: fade(@contrast--accent, 20%);
				}

				.style--dark & {
					background-color: fade(@color--accent, 20%);
				}
			}

			&.selected {
				background-color: @font-swatch7-background-color;
				border: 0;

				.style--light & {
					background-color: @font-swatch7-background-color;
				}

				.style--accent & {
					background-color: @contrast--accent;
				}

				.style--dark & {
					background-color: @color--accent;
				}
			}
		}
	}
}

// FORM

.widget.signupform .form-group,
.widget.blogsearch .form-group,
.widget.ecomproductslist .ecom-productslist-products .productlist-filter .form-group.productlist-search {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
    label {
        width: 100%;
    }

    input {
        flex-grow: 1;
        margin-right: 1em;
        height: auto;
        min-height: 40px;

        @media @mobile {
            width: 100%;
            margin-right: 0;
            margin-bottom: 1em;
        }
    
        .responsivecolumns & {
            width: 100%;
            margin-right: 0;
            margin-bottom: 1em;
        }
    }
}

// BUTTONS

.btn,
button.btn,
button.button,
.contactform button,
.contactform button.btn,
.advancedcontactform button,
.advancedcontactform button.btn,
.widget.tweet a,
.widget.clicktocall a,
.widget.clicktocall a:hover,
.widget.dropbox button,
.widget.filedownload button.btn,
.widget.paypalbuynow .widget.button.paypal,
.widget.socialicons span a,
.widget.profile .bk-profile-socialicons span a,
.widget.feature .feature-bgimg .content button,
.userregistration fieldset .userregistrationbtn,
.widget.yelpreview .review-body .review-link a,
form.blog-search-form .form-group button,
.blog-post-more-link a,
.widget.profile form .form-group button {
	display: inline-block;
	background-color: @font-swatch7-background-color;
	font-family: @font-swatch7-font-family;
	font-size: @font-swatch7-font-size;
	font-weight:  @font-swatch7-font-weight;
	line-height:@font-swatch7-line-height;
	color: @font-swatch7-color;
	letter-spacing: @font-swatch7-letter-spacing;
	border: 0;
	margin: 0;
	text-decoration: none;
	padding: 8px 40px;
	min-height: 40px;
	height: auto;
	min-width: 120px;
	border: none;
	text-align: center;
	text-transform: uppercase;
	.transition( all, 0.5s, ease);
	word-break: break-word;

	.style--light & {
	    background-color: @font-swatch7-background-color;
	    color: @font-swatch7-color;
	}

	.style--accent & {
	    background-color: @color--dark;
	    color: @contrast--dark;
	}

	.style--dark & {
	    background-color: @color--accent;
	    color: @contrast--accent;
	}
	
	&:hover {
		background-color: @font-swatch7-background-color-hover;
		cursor: pointer;
		.transition(all, 0.5s, ease);
		.border-radius(0px);

		.style--light & {
		    background-color: @font-swatch7-background-color-hover;
		}

		.style--accent & {
		    background-color: darken(@color--dark, 20%);
		}

		.style--dark & {
		    background-color: darken(@color--accent, 20%);
		}
	}
}

.widget.profile form .form-group button {
	margin-bottom: 2em;
}

.widget button.btn span {
	color: @font-swatch7-color;

	.style--light & {
		color: @font-swatch7-color;
	}

	.style--accent & {
		color: @contrast--dark;
	}

	.style--dark & {
		color: @contrast--accent;
	} 
}



// Image Buttons

.widget.tweet a,
.widget.clicktocall a,
.widget.dropbox button,
.widget.filedownload button.btn {
	&, &:hover, &:focus {
		background-image: none;
	}
}

.widget.tweet a,
.widget.clicktocall a,
.widget.dropbox button span,
.widget.filedownload button.btn {
	&:before {
        position: relative;
        top: 0.1em;
		padding-right: 0.25em;
		background-image: none;
		font-family:'FontAwesome';
		font-size: 1.25em;
	}
}

.widget.tweet a:before {content: '\f099';}
.widget.clicktocall a:before {content: '\f095';}
.widget.dropbox button span:before {content: '\f16b';}
.widget.filedownload button.btn:before {content: '\f019';}

.widget.paypalbuynow .widget.button.paypal {
	padding-left: 3.2em;
    background-size: 1.2em;
    background-position: 1.25em center;
}

.widget.filedownload div {
	@media @mobile {
		float: none;
	}

	span.file-name {
		display: block;
		margin: 0.5em 0;
	}
}

// Social Icons

.socialicons,
.widget.socialicons,
.widget.profile .bk-profile-socialicons {
	text-align: center;
	
	span {
		a {
			background-image: none;
			background-color: transparent;
			margin: 0 5px 10px;
			padding: 0;
			width: 45px;
			height: 45px;
			min-height: 45px;
			min-width: 45px;
			line-height: 45px;
			border-radius: 50%;
			text-indent: 0;
			font-size: 0;

			&:hover {
				opacity: 1;
				background-color: transparent;
				border-radius: 50%;
			}

			&:before {
				display: block;
				font-family: 'FontAwesome';
				font-size: 24px;
				min-width: 45px;
				height: 45px;
				line-height: 45px;
				text-indent: 0;
			}
		}

		&.bk-socialicons-linkedin a:before {content: '\f0e1';}
		&.bk-socialicons-twitter a:before {content: '\f099';}
		&.bk-socialicons-instagram a:before {content: '\f16d';}
		&.bk-socialicons-pinterest a:before {content: '\f0d2';}
		&.bk-socialicons-facebook a:before {content: '\f09a';}
		&.bk-socialicons-rss a:before {content: '\f09e';}
		&.bk-socialicons-vkontakte a:before {content: '\f189';}
		&.bk-socialicons-xing a:before {content: '\f168';}
		&.bk-socialicons-youtube a:before {content: '\f16a';}
	}
}


.bk-footer .socialicons {
	@media @mobile {
		padding: 20px;
	}
}

// FORMS

form {
	.widget.profile & {
		margin: 1em 0;
		padding: 0;

		@media @mobile {
			padding: 0 20px;
		}

		.bk-nav {
			margin-left: 20px;
			margin-right: 20px;
		}
	}
}

.form-group {
	position: relative;
	margin-bottom: 1em;

	.widget.profile & {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		@media @mobile {
			display: block;
		}
	}
}

label, .label {
	display: block;
	font-family: @font-swatch5-font-family;
	font-size: bkscale(@font-swatch5-font-size, 0.8);
	font-weight: @font-swatch5-font-weight;
	line-height: bkscale(@font-swatch5-line-height, 0.6);
	margin: 0 0 0.75em;
	text-transform: uppercase;
	letter-spacing: .05em;
    word-break: break-word;
}

input,
textarea,
form input,
form textarea,
select,
.widget.profile form fieldset input {
	border: 1px solid darken(@color-swatch2, 5%);
	border-radius: 0;
	text-indent: 14px;
	-webkit-appearance: none;
	background-color: @color-swatch1;
	min-height: 40px;
	height: auto !important;
	color: fade(@font-swatch5-color, 80%);
	.transition( all, 0.3s, ease);

	.style--light & {
		border-color: darken(@color-swatch2, 5%);
		background-color: @color-swatch1;
	    color: fade(@font-swatch5-color, 80%);
	}

	.style--accent & {
		border-color: darken(@color--accent, 10%);
		background-color: @color--light;
	    color: fade(@contrast--light, 80%);
	}

	.style--dark & {
		border-color: darken(@color--dark, 10%);
		background-color: @color--light;
	    color: fade(@contrast--light, 80%);
	}
	
	@media @mobile {
		width: 100%;
		margin-bottom: 1em;
	}
	
	.widget.profile form fieldset &,
	.responsivecolumns & {
		width: 100%;
		margin-bottom: 1em;
	}

	&:hover,
	&:focus {
		border: 1px solid darken(@color-swatch2, 15%);
		.transition( all, 0.3s, ease);

		.style--light & {
			border-color: darken(@color-swatch2, 15%);
		}

		.style--accent & {
			border-color: darken(@color--accent, 15%);
		}

		.style--dark & {
			border-color: darken(@color--dark, 15%);
		}
	}
}

textarea,
form textarea {
	min-height: 120px;
}

// Radiobuttons and Checkboxes

.widget .form .option-list {
	margin-top: 1em;
	margin-bottom: 2em;

	.option-item--radio,
	.option-item--checkbox {
		position: relative;
		width: 100%;
		margin-bottom: @font-swatch5-line-height / 2;
		padding: 0;
		min-height: @font-swatch5-line-height;
	}
}

.widget .form .option-list,
.widget .form-group[class*="form-group--terms"] {
	input[type="radio"],
	input[type="checkbox"] {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: floor(@font-swatch5-line-height*0.8+2) !important;
		height: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
		bottom: 0;

		&:checked + label:after {
			opacity: 1;
		}
	}

	.label--radio,
	.label--checkbox,
	label[for*="input--terms"] {
		display: block;
		position: relative;
		cursor: pointer;
		padding-left: 2em;
		margin-bottom: 0;
		line-height: floor(@font-swatch5-line-height*0.8+2);
		font-size: @font-swatch5-font-size;
		word-break: break-word;
		text-align: left;
		text-transform: none;
		font-family: @font-swatch4-font-family;
		font-weight: @font-swatch4-font-weight;
		font-size: @font-swatch5-font-size;
		line-height: floor(@font-swatch5-line-height*0.8+2);
		letter-spacing: @font-swatch4-letter-spacing;

		span a.form__link {
			font-family: @font-swatch4-font-family;
			font-weight: @font-swatch4-font-weight;
			font-size: @font-swatch5-font-size;
			line-height: floor(@font-swatch5-line-height*0.8+2);
			letter-spacing: @font-swatch4-letter-spacing;
		}
			
		&:before,
		&:after {
			cursor: pointer;
			display: block;
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
		}

		&:before {
			min-width: 0;
			height: floor(@font-swatch5-line-height*0.8);
			width: floor(@font-swatch5-line-height*0.8);
			background-color: @color-swatch1;
			border: 1px solid @font-swatch7-background-color;
			border-radius: 0;

			.style--light & {
				border-color: @font-swatch7-background-color;
			}

			.style--accent & {
				border-color: @color--dark;
			}

			.style--dark & {
				border-color: @color--accent;
			}
		}

		&:after {
			opacity: 0;
			width: floor(@font-swatch5-line-height*0.8);
		}
	}

	.label--radio {
		&:before {
			border-radius: 50%;
		}
		
		&:after {
			border-radius: 50%;
			background-color: @font-swatch7-background-color;
			border: 1px solid @font-swatch7-background-color;
			height: floor(@font-swatch5-line-height*0.8);
			transform: scale(50%);

			.style--light & {
				background-color: @font-swatch7-background-color;
				border: 1px solid @font-swatch7-background-color;
			}

			.style--accent & {
				background-color: @color--dark;
				border: 1px solid @color--dark;
			}

			.style--dark & {
				background-color: @color--accent;
				border: 1px solid @color--accent;
			}
		}
	}

	.label--checkbox,
	label[for*="input--terms"] {
		&:after {
			margin-top: floor(@font-swatch5-line-height*-1.2/4);
			height: floor(@font-swatch5-line-height*1.2);
			border: 1px solid transparent;
			box-shadow: -6px -6px 0 0 inset @font-swatch7-background-color;
			transform: scale(50%) rotate(45deg);

			.style--light & {
				box-shadow: -6px -6px 0 0 inset @font-swatch7-background-color;
			}

			.style--accent & {
				box-shadow: -6px -6px 0 0 inset @color--dark;
			}

			.style--dark & {
				box-shadow: -6px -6px 0 0 inset @color--accent;
			}
		}
	}
	
	label[for*="input--terms"] span a.form__link {
		text-decoration: underline;
		border: none;
	}
}

// Dropdown

.select-wrap {
	position: relative;

    .advancedcontactform & {
        max-width: 50%;

        @media @tablet {
            max-width: 100%;
        }
    
        .responsivecolumns & {
            max-width: 100%;
        }
    }
}

select {
	padding-right: 2.5em;
    .appearance(none) !important;
	text-transform: uppercase;
	background-image: url("data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNCAyNCI+Cgk8cG9seWxpbmUgc3Ryb2tlPSIjNzY3ODgwIiBmaWxsPSJub25lIiBzdHJva2Utd2lkdGg9IjMiIHBvaW50cz0iMjAuMSw4LjYgMTIsMTYuNyAzLjksOC42IiAvPgo8L3N2Zz4=");
    background-repeat: no-repeat;
	background-position: right 0.75em center;
	background-size: 1em;

	@media @mobile {
		width: 100% !important;
	}

	&::-ms-expand {
		display: none;
	}

	option {
		background-color: @color-swatch1;
		color: @font-swatch5-color;
	}
}

.widget.blogsearch {
	margin: 20px 0;

	label {
		display: block;
	}
}

// REGISTERATION FORM

.widget.userregistration {
	fieldset {
		margin: 0 auto;
		padding: 0;
		border: none;
		max-width: 400px;
		
		@media @mobile {
			max-width: none;
		}

		.responsivecolumns & {
			max-width: none;
		}

		input {
			width: 100%;
			box-sizing: border-box;
		}

		.error {
			padding: 20px 0 0;

			&[style*="display: block"] {
				padding: 20px 0;
			}

			&[style*="display: none"] {
				display: block !important;
			}
		}
	}
}

// TWITTER

.widget.profile,
.widget.twitter {
    margin: 2em 0;
	padding: 0;

	ul.twitter {
		padding: 0px;
		margin: 0;

		.twitter-profile-pic {
			display: block;
			float: left;
			margin-right: 20px;
		
			a:hover {
				border-bottom: 0;
			}
		}
		
		li {
            margin-bottom: 4em;
			padding: 0;
			border-bottom: none;
			list-style: none;
			font-family: @font-swatch5-font-family;
			font-size: @font-swatch5-font-size;
			color: @font-swatch5-color;
	
			a,
			span a,
			time {
				font-family: @font-swatch5-font-family;
				text-decoration: none;
				font-size: 1em;
			
				&:hover {
					text-decoration: none;
				}
			}
		
			p {
				font-size: @font-swatch5-font-size;
			}
		
			a {
				font-family: @font-swatch5-font-family;
				text-decoration: none;
                color: @color-swatch6;

                .style--light & {
                    color: @color-swatch6;
                }
                
                .style--accent & {
                    color: @color--dark;
                }
            
                .style--dark & {
                    color: @color--accent;
                }
			}

            .twitter-content {
				margin-left: 68px;

				span.bk-full-name {
					display: block;
					font-family: @font-swatch4-font-family;
					color: @color-swatch6;
		
					.style--light & {
						color: @color-swatch6;
					}
				
					.style--accent & {
						color: @color--dark;
					}
				
					.style--dark & {
						color: @color--accent;
					}
				}

                > a:first-child,
                > p {
                    display: block;
    
                    &:hover {
                        text-decoration: none;
                    }
                }
                
                > a:first-child {
                    margin-top: -0.3em;
                    line-height: 1.8em;
                    font-size: 1.2em;
                }

                time,
                time + span,
                span + p {
					display: inline-block;
					opacity: 0.6;
                    margin-bottom: 0;
                    padding: 0;
                    font-size: 0.9em;
                    line-height: 1.2em;
					color: @font-swatch5-color;
				
					.style--light & {
						color: @font-swatch5-color;
					}
					
					.style--accent & {
						color: @contrast--accent;
					}
				
					.style--dark & {
						color: @contrast--dark;
					}
                }
                
                time + span + span {
						display: inline-block;
						
						a {
						color: @color-swatch6;
		
						.style--light & {
							color: @color-swatch6;
						}
						
						.style--accent & {
							color: @color--dark;
						}
					
						.style--dark & {
							color: @color--accent;
						}
					}
                }
            }
		}
	}
}

// YELP REVIEW

.widget.yelpreview {
	padding: 0;

	ul.yelpreview {
		padding: 0;

		li {
			margin: 0 0 3em;

			dt, dd {
				font-size: 1em;
			}

			dt.rating {
				padding-top: 0;
			}

			dd.created,
			dd.reviewer {
				color: @font-swatch6-color-hover;
			
				.style--light & {
					color: @font-swatch6-color-hover;
				}
			
				.style--accent & {
					color: @color--dark;
				}
			
				.style--dark & {
					color: @color--accent;
				}
			}

			dd.created {
				margin-top: 1em;
                color: @color-swatch4;

                .style--light & {
                    color: @color-swatch4;
                }
			
				.style--accent & {
					color: @color--dark;
				}
			
				.style--dark & {
					color: @color--accent;
				}
			}
	
			dd.reviewer {
				margin-top: 0.5em;
				margin-bottom: 1em;
				font-family: @font-swatch4-font-family;
				font-size: @font-swatch4-font-size;
				letter-spacing: @font-swatch4-letter-spacing;
				line-height: @font-swatch4-line-height;
                color: @color-swatch4;

                .style--light & {
                    color: @color-swatch4;
                }
			
				.style--accent & {
					color: @color--dark;
				}
			
				.style--dark & {
					color: @color--accent;
				}

				&:before {
					content: '- ';
				}
			}

			dd.review-link {
				margin: 1em 0;
			}
		}
	}
}

// LINE

.widget.line {
	padding: 0;
	margin-bottom: 40px;
}

hr.line {
	background-color: fade(@color-swatch6, 10%);
	margin: 0;

	.style--light & {
	    color: fade(@color-swatch6, 10%);
	}

	.style--accent & {
	    color: darken(@color--accent, 10%);
	}

	.style--dark & {
	    color: darken(@color--dark, 10%);
	}
}

// PROFILE

.bk-profile-address p:after {
	display: none;
}

// EMBEDS

.widget.embed .embed-default,
.widget .embed .embed-wrap {
	background: transparent;
	border: none;
	padding: 0;
	text-align: left;
}

.embed-content iframe {
	max-width: 100%;
}