@import "@{templateCommon}/basekit-bootstrap.less";
@import "@{templateLocal}/less/theme.less";
@import "@{templateLocal}/less/widgets.less";
@import "@{templateLocal}/less/plugins.less";

// -----------------------------
// 1. #Page Settings
// -----------------------------

// #Includes
// -----------

@tablet: ~"only screen and (max-width: 850px)";
@mobile: ~"only screen and (max-width: 600px)";

// #Mixins
// -------

.border-radius (@radius: 6px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.appearance(@appearance: none) {
    -webkit-appearance: @appearance;
    -moz-appearance: @appearance;
    appearance: @appearance;
}

.transition (@prop: all, @time: 0.5s, @ease: ease) {
	-webkit-transition: @prop @time @ease;  
	-moz-transition:    @prop @time @ease;
	-ms-transition:     @prop @time @ease; 
	-o-transition:      @prop @time @ease;  
}

// Scrollbars
// ----------

body, html {
	-ms-overflow-style: none;
}