@import "@{templateCommon}/basekit-bootstrap.less";
@import "@{templateLocal}/less/theme.less";

// -----------------------------
// 1. #Page Settings
// -----------------------------



// #Includes
// -----------

@tablet: ~"only screen and (max-width: 850px)";
@mobile: ~"only screen and (max-width: 600px)";



// #Mixins
// -------

.border-radius (@radius: 6px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.transition (@prop: all, @time: 0.5s, @ease: ease) {
	-webkit-transition: @prop @time @ease;  
	-moz-transition:    @prop @time @ease;
	-ms-transition:     @prop @time @ease; 
	-o-transition:      @prop @time @ease;  
}



/* 4. Feature */

.widget.feature {
	height: 100%;
	.feature-bgimg {
		height: 100%;
	}
}

.widget.feature .feature-bgimg .content {
	text-align: center;
	@media @mobile {
		padding: 100px 20px;
		-webkit-overflow-scrolling: touch;
	}
	.spare {
		max-width: 1200px;
		margin: 0 auto;
		padding: 40px;
		@media @mobile {
			padding: 20px;
		}
		/*@media only screen and (max-height: 450px) {
			position: relative;
			top: 30px;
			h2 {
				font-size: bkscale(@font-swatch1-font-size, 0.62);
				line-height: bkscale(@font-swatch1-line-height, 0.68);
				padding-bottom: 8px;
			}
			h3 {
				font-size: bkscale(@font-swatch5-font-size, 0.95);
				line-height: bkscale(@font-swatch5-line-height, 0.8);
			}
			button {
				padding: 8px 15px;
				margin-top: 12px;
			}
		} */
	}
	h2 {
		padding-bottom: 10px;
		@media @tablet {
			font-size: bkscale(@font-swatch8-font-size, 0.7);
			line-height: bkscale(@font-swatch8-line-height, 0.8);
		}
		@media @mobile {
			font-size: bkscale(@font-swatch8-font-size, 0.55);
			line-height: bkscale(@font-swatch8-line-height, 0.7);
		}
		@media only screen and (max-height: 420px) {
			font-size: bkscale(@font-swatch8-font-size, 0.55);
			line-height: bkscale(@font-swatch8-line-height, 0.7);
		}
	}
	h3 {
		font-style: italic;
		text-transform: none;
		@media @tablet {
			font-size: bkscale(@font-swatch9-font-size, 0.8);
			line-height: bkscale(@font-swatch9-line-height, 0.8);
		}
		@media @mobile {
			font-size: bkscale(@font-swatch9-font-size, 0.7);
			line-height: bkscale(@font-swatch9-line-height, 0.7);
		}
	}
	button {
		padding: 0 40px;
		&:hover {
		}
		@media @mobile {
			width: 100%;
			margin-top: 10px;
		}
		span {
			vertical-align: inherit;
		}
	}
}




/* Home Page Gallery */

.widget.gallery {
	margin-left: 0;
}




.slideshow-wrapper {
	position: relative;
	overflow: hidden;
	height: 100%;
	.widget.responsiveslideshow {
		margin-top: 0;
		height: 100%;
		.slideshow-widget, .slideshow-image-list {
			//min-height: 800px;
			height: 65vh;
			.crop span.inner {
				background-size: cover;
			}
		}
		.slideshow-widget-controls {
			position: absolute;
			bottom: 140px;
			left: 0;
			right: 0;
			@media @tablet {
				bottom: 40px;
			}
			@media @mobile {
				bottom: 30px;
			}
		}
		.content-wrapper {
			background-color: transparent;
			display: table;
			//-webkit-flex-direction: column-reverse;
			//flex-direction: column-reverse;
			width: 100%;
			max-width: 1200px;
			top: 50%;
			left: 50%;
			right: 0;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			//height: 100px;
			@media @mobile {
				padding: 0 40px;
			}
			span {
				text-align: center;
				display: inline-block;
				color: @color-swatch1;
				width: 100%;
			}
			.title {
				font-family: @font-swatch8-font-family;
				font-weight: @font-swatch8-font-weight;
				font-size: @font-swatch8-font-size;
				line-height: @font-swatch8-line-height;
				color: @font-swatch8-color;
				letter-spacing: @font-swatch8-letter-spacing;
				text-transform: uppercase;
				display: table-footer-group;
				height: 80px;
				@media @tablet {
					font-size: bkscale(@font-swatch8-font-size, 0.85);
					line-height: bkscale(@font-swatch8-line-height, 0.85);
				}
				@media @mobile {
					font-size: bkscale(@font-swatch8-font-size, 0.7);
					line-height: bkscale(@font-swatch8-line-height, 0.7);
				}
			}
			.description {
				font-family: @font-swatch9-font-family;
				font-weight: @font-swatch9-font-weight;
				font-size: @font-swatch9-font-size;
				line-height: @font-swatch9-line-height;
				color: fade(@font-swatch9-color, 50%);
				letter-spacing: @font-swatch9-letter-spacing;
				font-style: italic;
				display: table-header-group;
				@media @tablet {
					font-size: bkscale(@font-swatch9-font-size, 0.9);
					line-height: bkscale(@font-swatch9-line-height, 0.9);
				}
				@media @mobile {
					font-size: bkscale(@font-swatch9-font-size, 0.8);
					line-height: bkscale(@font-swatch9-line-height, 0.8);
				}
			}
		}
	}
}





/* 5. Main */

.contain {
	padding: 40px;
	margin: 0 auto;
	max-width: 1200px;
	position: relative;
	background-color: @color-swatch2;
	@media @mobile {
		padding: 20px;
	}
}

.bk-pt-home .contain {
	top: 0;
}

.bk-pt-default .contain {
	top: 120px;
	margin-bottom: 100px;
	@media @tablet {
		top: 100px;
	}
	@media @mobile {
		top: 90px;
	}
}

.bk-pt-home .bk-footer {
	margin-top: 0;
}

#main {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	.border-radius(0px);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/* .bk-pt-home #main .widget.feature.bk-tpl-hidden + .bk-header {
	background: lighten(@color-swatch6, 5%);
	padding: 30px;
	position: relative;
	right: 0!important;
	width: 100%;
	@media @mobile {
		padding: 20px;
	}
} */

/* 6. Footer */

.bk-footer {
	display: table;
	width: 100%;
	padding: 20px 40px;
	border-top: 1px solid fade(@color-swatch6, 10%);
	position: relative;
	.copyright {
		text-align: left;
		.widget.profile {
		}
		@media @mobile {
			padding-bottom: 20px;
		}
	}
	.socialicons {
		float: right;
		margin: 0!important;
		opacity: 0.6;
	}
	.copyright, .socialicons {
		display: table-cell;
		vertical-align: middle;
		@media @mobile {
			display: block;
			width: 100%;
			text-align: center;
		}
	}
}

.bk-footer .widget.profile .bk-profile-socialicons span a, .bk-footer .widget.profile .bk-profile-socialicons span a:hover {
	background-color: transparent;
}

.widget.profile .bk-profile-socialicons span {
	padding: 3px;
}

/* 7. Blog */


// ======= Widget: Blog Post List
.widget.blogpostlist {
	.blog-post-list {
		.blog-post-item {
			.clearfix;
			border-bottom: 1px dotted @color-swatch5;
			position: relative;
			margin-bottom: 70px;
			padding-bottom: 30px;
			@media @mobile {
				margin-bottom: 20px;
			}
			.blog-post-feature-image-wrap {
				height: 0;
				padding-bottom: 40%;
				background-size: cover;
				background-position: center;
				z-index: 1000;
				img {
					display: none;
				}
			}
			.blog-post-title {
				font-family: @font-swatch1-font-family;
				font-weight: @font-swatch1-font-weight;
				line-height: @font-swatch1-line-height;
				letter-spacing: @font-swatch1-letter-spacing;
				font-size: @font-swatch1-font-size;
				margin: 0.6em 0;
				padding: 0;
				@media @tablet {
					font-size: bkscale(@font-swatch1-font-size, 0.7);
					line-height: bkscale(@font-swatch1-line-height, 0.7);
				}
				@media @mobile {
					font-size: bkscale(@font-swatch1-font-size, 0.4);
					line-height: bkscale(@font-swatch1-line-height, 0.4);
				}
				a {
					color: @color-swatch3;
					&:hover {
						text-decoration: none;
						border-bottom: 1px solid @color-swatch3;
					}
				}
			}
			.blog-post-summary, .blog-post-body {
				margin-bottom: 1em;
			}
			.blog-post-more-link {
				float: left;
				width: auto;
				a {
					display: inline-block;
					padding: 10px 30px;
					background-color: @font-swatch7-background-color;
					font-family: @font-swatch7-font-family;
					font-size: @font-swatch7-font-size;
					font-weight: @font-swatch7-font-weight;
					line-height:@font-swatch7-line-height;
					color: @font-swatch7-color;
					letter-spacing: @font-swatch7-letter-spacing;
					text-decoration: none;
					text-transform: uppercase;
					.transition( all, 0.3s, ease);
					&:hover {
						text-decoration: none;
						.transition( all, 0.3s, ease);
					}
				}
			}
			.blog-post-date {
				float: right;
			}
		}
	}
	.blog-list-footer {
		padding: 0;
		a {
		}
	}
}


// ============================================================================================================================== 
// Widget: Blog Post

.widget.blogpost {
	.blog-post-item {
		margin: 20px 0;
		.clearfix;
		// Image
		.blog-post-feature-image-wrap {
			padding-bottom: 30%;
			background-size: cover;
			position: relative;
			background-position: center;
			@media @mobile {
				padding-bottom: 60%;
			}
			img.blog-post-feature-image {
				display: none;
			}
		}
		// Title and Content Wrap
		.blog-post-title-content-wrap {
			
			// Title
			h1.blog-post-title {
				// color: @color-swatch1;
				border-bottom: none;
				padding: 0;
				padding: 1.2em 0 1.2em;
				position: relative;
				font-family: @font-swatch1-font-family;
				font-weight: @font-swatch1-font-weight;
				line-height: @font-swatch1-line-height;
				letter-spacing: @font-swatch1-letter-spacing;
				font-size: @font-swatch1-font-size;
				@media @tablet {
					font-size: bkscale(@font-swatch1-font-size, 0.7);
					line-height: bkscale(@font-swatch1-line-height, 0.7);
				}
				@media @mobile {
					font-size: bkscale(@font-swatch1-font-size, 0.5);
					line-height: bkscale(@font-swatch1-line-height, 0.5);
				}
			}
			// Content
			.blog-post-content, .blog-post-body {
				float: left;
				width: 70%;
				padding: 0 50px 40px 0; 
				@media @tablet {
					float: none;
					width: auto;
					padding: 0 0 40px 0;
				}
			}
		}
		// Meta data
		.blog-post-metadata {
			// Date
			time.blog-post-publish-date {
				color: @color-swatch5;
				font-size: @font-swatch5-font-size;
				border-bottom: 1px solid lighten(@color-swatch5,20%);
				display: block;
				float: right;
				width: 30%;
				padding: 0 0 1em 0;
				@media @tablet {
					float: none;
					width: auto;
				}
				@media @mobile {
					padding: 0 0 0.5em 0;
				}
			}
			// Category
			div.blog-post-category {
				border-bottom: 1px solid lighten(@color-swatch5, 20%);
				float: right;
				width: 30%;
				padding: 1em 0;
				@media @tablet {
					float: none;
					width: auto;
				}
				@media @mobile {
					padding: 0.5em 0;
				}
				.blog-post-category-label {
					&:after {
						content: ": ";
					}
				}
				p.blog-post-category {
					a {

					}
				}
			}
			// Tags
			.blog-post-tags {
				float: right;
				width: 30%;
				padding: 1em 0;
				@media @tablet {
					float: none;
					width: auto;
				}
				@media @mobile {
					padding: 0.5em 0;
				}
				.blog-post-tags-label {
					&:after {
						content: ": ";
					}
				}
				ol.blog-post-tags-list {
					.blog-post-tag {
						a {
							margin-left: 4px;
							&:hover {
							}
							&:after {
								content: ",";
							}
						}
					}
				}
			}
		}
	}
}

button.btn.facebook, button.btn.twitter, button.btn.googleplus {
	margin: 10px 0;
	min-width: 0;
	padding: 0 24px;
}

/* 8. Menu */


.widget {
	&.menusections {
		a {
			color: @color-swatch4;
			&:hover {
				text-decoration: none;
				color: @color-swatch3;
			}
		}
		ul {
			text-align: left;
			color: @color-swatch4;
		}
		li {
			border: 1px solid fade(@color-swatch4, 50%);
			border-radius: 20px;
			padding: 5px 20px;
			&:hover {
			border: 1px solid @color-swatch3;
			cursor: pointer;
			}
		}
	}
}

.widget.menusections ul li {
	display: inline-block;
	margin: 0 0.4em;
}

.menu {
	.menu-item-image-wrap {
		background-size: cover;
		background-repeat: no-repeat;
		height: 180px;
		margin: 0.25em 0 0.75em;
		background-position: center;
		img {
			display: none;
		}
	}
	.menu-header {
		margin: 2em 0;
		text-align: center;
		border-bottom: 1px solid fade(@color-swatch4,10%);
		h1 {
			font-size: bkscale(@font-swatch1-font-size, 0.7);
			line-height: bkscale(@font-swatch1-line-height, 0.7);
			padding-bottom: 2px;
			text-align: left;
		}
		p {
			color: @font-swatch5-color;
			text-align: left;
		}
	}
	.menu-subsection {
		padding: 0;
		.menu-subsection-header {
			padding: 20px 0;
			h2 {
				color: @color-swatch4;
			}
		}
	}
	.menu-item-nutritional-title {
		font-size: bkscale(@font-swatch5-font-size, 0.86);
		&:before {
			content: "\2014";
			color: darken(@color-swatch2, 20%);
			display: block;
			padding-bottom: 8px;
			padding-top: 8px;
			line-height: 8px;
		}
	}
	.menu-item-nutritional-prop  {
		font-size: bkscale(@font-swatch5-font-size, 0.9);
		line-height: @font-swatch5-line-height;
	}
	.menu-section-item-dietary-props .dietary-icon {
		color: @color-swatch3;
		font-size: bkscale(@font-swatch5-font-size, 1.12);
	}
	.menu-subsection-promoted, .menu-items li.menu-item-promoted {
		background-color: lighten(@color-swatch2, 10%);
		border: 1px solid darken(@color-swatch2, 5%);
		padding: 2em;
		@media @mobile {
			padding: 1em;
		}
		ol {
			padding-bottom: 0;
		}
		.menu-subsection-header {
			padding: 20px 0 12px;
			h2 {
				margin-bottom: 0;
			}
		}
		.menu-section-item-dietary-props .dietary-icon {
		}
		.menu-item-price:after {
			display: table-cell;
			content: "\2605";
			color: @color-swatch3;
			border: solid 2px @color-swatch3;
			font-size: bkscale(@font-swatch5-font-size, 0.86);
			text-align: center;
			width: 40%;
		}
	}
	.menu-subsection-name {
		color: @font-swatch2-color;
		margin-bottom: 0.25em;
	}
	.menu-item-description {
	}
	.menu-item-price {
		display: table;
		width: 120px;
		margin: 10px 0;
		p {
			display: table-cell;
			color: @color-swatch1;
			background-color: @color-swatch3;
			text-align: center;
			padding: 5px;
		}
	}
}

/* 9. Ecommerce */

.widget.ecomproductslist {
	.ecom-productslist-product a {
		text-decoration: none;
	}
	.productlist-filter {
		.productlist-display-form {
			.form-group {
				width: 100%;
				select {
					width: 70%;
					float: right;
					@media @tablet {
						margin-left: 0;
					}
				}
				label {
					display: inline-block;
					margin: 8px 0;
					width: 30%;
					vertical-align: middle;
					&:after {
						content: ":";
						display: inline-block;
						position: relative;
					}
				}
				button {
					min-width: 0;
					padding: 0;
				}
			}
		}
	}
	.ecom-productslist-image-wrap {
		margin-bottom: 20px;
		background-color: transparent;
	}
	.ecom-productlist-info {
		h2 {
			padding-bottom: 5px;
		}
		span {
			font-size: bkscale(@font-swatch2-font-size, 0.8);
		}
	}
}

.productlist-display-form, .productlist-item-count { 
	select {
		color: @font-swatch5-color;
		background-color: @color-swatch1;
		font-size: bkscale(@font-swatch7-font-size, 0.85);
		border-radius: 0;
		height: 40px;
		line-height: 40px;
		-webkit-appearance: menulist;
		border: 1px solid darken(@color-swatch2, 5%);
		//padding: 14px 5px 14px 12px;
		text-indent: 5px;
		@media @tablet {
			background-position: 98% center;
			width: 100%;
		}
		@media @mobile {
			margin-left: 0;
		}
	}
}

.widget.ecomproduct {
	h2 {
		padding-bottom: 5px;
	}
	.ecom-product-price {
		color: lighten(@color-swatch5, 20%);
		font-size: bkscale(@font-swatch5-font-size, 1.25);
	}
}

.widget.ecomcheckout {
	table {
		margin-bottom: 40px;
	}
	table tr th, table tr td {
		border-bottom: 1px solid fade(@color-swatch5, 15%);
	}
	a {
		color: @font-swatch5-color;
		font-size: bkscale(@font-swatch5-font-size, 1.1);
	}
	a.checkout-empty-link {
		color: @font-swatch7-color;
		font-family: @font-swatch7-font-family;
		font-weight: @font-swatch7-font-weight;
		font-size: @font-swatch7-font-size;
		&:hover {
			text-decoration: none;
		}
	}
	.checkout-pricepu {
		color: lighten(@color-swatch5, 20%);
	}
	.checkout-order-button {
		margin: 12px 0;
	}
}

.widget.ecomproduct .ecom-product .btn {
	margin: 20px 20px 0 0;
}

.ecom-product-add-to-cart-btn-wrapper, 
.ecom-product-go-to-checkout-btn-wrapper.js-ecom-product-go-to-checkout-btn-wrapper {
	display: table-cell;
}

.ecom-product-go-to-checkout-btn-wrapper.js-ecom-product-go-to-checkout-btn-wrapper {
	@media @mobile {
		padding-left: 20px;
	}
}

a.btn.ecom-product-go-to-checkout-btn {
	background: transparent;
	color: @color-swatch3;
	padding: 0;
}

.widget.ecomproduct .ecom-product .btn.ecom-product-add-to-cart-btn .text:before {
	display: none;
}

.ecombasket-total-wrap, .ecombasket-summary-wrap {
	display: block;
	padding: 18px 0;
}
.ecombasket-total-wrap {
	float: left;
	p {
		font-weight: bold;
	}
}
.ecombasket-summary-wrap {
	text-align: right;
	a {
		background-color: @font-swatch7-background-color;
		font-family: @font-swatch7-font-family;
		font-size: @font-swatch7-font-size;
		font-weight: @font-swatch7-font-weight;
		line-height: @font-swatch7-line-height;
		color: @font-swatch7-color;
		letter-spacing: @font-swatch7-letter-spacing;
		border: 0;
		margin: 0;
		text-decoration: none;
		text-transform: uppercase;
		padding: 10px 30px;
		border-radius: 50px;
		.transition( all, 0.3s, ease);
		&:hover {
			border-radius: 0;
			.transition( all, 0.3s, ease);
		}
	}
}

.widget.ecombasket .ecombasket-pull {
	width: auto;
}

.delivery {
	h3 {
		padding-bottom: 25px;
	}
	input, textarea {
		.border-radius(6px);
	}
	select {
		color: lighten(@font-swatch5-color, 15%);
		font-size: bkscale(@font-swatch7-font-size, 0.85);
		height: 50px;
		border: 2px solid lighten(@color-swatch7, 2%);
		text-indent: 5px;
		//padding: 4px 35px 4px 12px;
	}
}

.widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation select {
	color: @font-swatch5-color;
	background-color: @color-swatch1;
	font-size: bkscale(@font-swatch7-font-size, 0.85);
	border-radius: 0;
	height: 40px;
	line-height: 40px;
	-webkit-appearance: menulist;
	border: 1px solid darken(@color-swatch2, 5%);
	text-indent: 5px;
	//padding: 14px 5px 14px 12px;
}

.ecom-productslist-title, .ecom-featuredproducts-title, .ecom-product-title {
	font-size: @font-swatch2-font-size;
	margin-top: 10px;
}

.widget {
	.ecomfeaturedproducts, .ecomcategorieslist, .checkout-form, {
		margin: 1.5em 0;
	}
}

.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap .ecom-featuredproducts-product .ecom-featuredproducts-image-wrap {
	background-color: transparent;
}

.widget.ecomproduct .ecom-product .ecom-product-preview-image-wrap {
	background-position: -10000px;
}

.ecom-featuredproducts-header h2 {
	padding-bottom: 25px;
	padding-top: 15px;
}

// Basket Summary
// -----------------------------

.widget.ecombasketsummary {
	margin-bottom: 30px;
	// Image Wrap
	.image-wrap {
		background-position: -10000%;
		@media (max-width: 650px) {
			max-width: 100%;
		}
		img {
			
			@media (max-width: 650px) {
				max-width: 100%;
			}
		}
	}
	// Product Name, Price, Quantity
	.basket-summary-quantitybtn,
	.basket-summary-amount {
		font-family: @font-swatch4-font-family;
		font-size: @font-swatch4-font-size;
		font-weight: @font-swatch4-font-weight;
		line-height: @font-swatch4-line-height;
		letter-spacing: @font-swatch4-letter-spacing;
		color: @font-swatch4-color;
	}
	.basket-summary-productname {
		font-size: bkscale(@font-swatch4-font-size, 1.1);
		line-height: bkscale(@font-swatch4-line-height, 1.2);
	}
	.basket-summary-pricepu {
		color: lighten(@color-swatch5, 20%);
	}
	// Product Name
	.basket-summary-productname {
		display: block;
		line-height: 24px;
		color: @color-swatch4;
		padding-left: 0;
		&:hover {
			text-decoration: underline;
		}
	}
	// Quantity
	.basket-summary-quantity {
		margin-top: 8px;
		.basket-summary-quantity-text {
			display: block;
			padding: 0;
			font-family: @font-swatch4-font-family;
			color: @font-swatch4-color;
			font-size: 14px;
			line-height: 20px;
		}
		.quantity-number {
			position: relative;
			top: -1px;
			background-color: darken(@color-swatch1,3%);
			padding: 1px 10px;
			font-size: 14px;
		}
		button {
			min-width: 0;
			width: 22px;
			height: 22px;
			padding: 0;
			font-family: @font-swatch5-font-family;
			&:hover {
				background-color: lighten(@font-swatch7-background-color, 15%);
				cursor: pointer;
			}
			&:focus {
				outline: none;
			}
		}
	}
	.basket-summary-subtotal {
		font-family: @font-swatch4-font-family;
		font-size: @font-swatch4-font-size;
		color: @font-swatch4-color;
	}
	// Table
	table {
		margin: 20px 0 30px;
		border-spacing: 0;
		border-bottom: 0;
		width: 100%;
		// Heading Row
		tr:first-child {
			font-family: @font-swatch4-font-family;
			font-size: 14px;
			letter-spacing: 1px;
			color: @font-swatch4-color;
			@media @mobile {
				font-size: 12px;
			}
			th {
				border-bottom: 1px solid fade(@color-swatch4, 20%);
				padding-bottom: 15px;
				position: relative;
				text-align: left;
				&:last-child {
					@media (max-width: 650px) {
						display: none;
					}
				}
			}
		}
		.basket-summary-items:last-child {
			padding-bottom: 40px;
		}
		tr:last-child {
			td {
				border-bottom: 2px solid fade(@color-swatch4, 20%);
				border-top: 1px solid fade(@color-swatch4, 20%);
				&:nth-child(1), &:nth-child(2) {
					//display: none;
				}
			}
		}
		// Item Row
		tr td {
			border-bottom: 1px solid fade(@color-swatch4, 10%);
			@media (max-width: 650px) {
				display: table;
				width: 100%;
				border-bottom: 0;
			}
			&:nth-child(1),
			&:nth-child(2) {
				padding: 30px 20px 30px 0;
				
			}
			&:nth-child(2) {
				@media (max-width: 650px) {
					padding-left: 0;
					padding-bottom: 20px;
				}
			}
			&:nth-child(3) {
				padding: 20px 20px 20px 0;
			}
			// Responsive
			&:nth-child(1) {
				width: 25%;
				@media (max-width: 650px) {
					padding-bottom: 0;
					width: 100%;
				}
			}
			&:last-child {
				@media (max-width: 650px) {
					padding: 6px 20px 6px 0;
					margin: 0 0 15px;
				}
			}
		}
		tr:last-child td:last-child {
			@media (max-width: 650px) {
				border-top: 0;
				margin-top: 0;
				padding-top: 0;
			}
		}
	}
	// Continue to Payment Button
	.basket-summary-submit {
		&:hover {
		}
	}
	// 
	.js-shipping-opts {
		padding-bottom: 20px;
		font-size: 14px;
		line-height: 26px;
		margin-bottom: 20px;
		label {
			margin-bottom: 10px;
		}
	}
}

.widget.ecombasket {
	&:show-content .ecombasket-list-container {
	display: block;
	padding: 20px;
	background-color: @color-swatch1;
	}
	.ecombasket-list-container {
		background-color: @color-swatch1;
		padding: 0 20px 10px;
		ul {
			li {
				border-bottom: 1px solid @color-swatch2;
				padding-bottom: 0 20px;
				.ecombasket-item-info {
					position: relative;
					.ecombasket-remove-button {
						cursor: pointer;
						text-decoration: none;
						position: absolute;
						right: 0;
						top: 23px;
						border: 0;
						border-radius: 50px;
						padding: 5px 20px;
						font-family: @font-swatch7-font-family;
						color: @font-swatch7-color;
						font-size: bkscale(@font-swatch7-font-size, 0.85);
						.transition( all, 0.3s, ease);
						&:hover {
							border-radius: 0;
							.transition( all, 0.3s, ease);
						}
					}
				}
			}
		}
	}
}

.widget.ecombasket .ecombasket-list-container ul li {
	
}

/* 10. Forms */

input,
.widget.profile form fieldset input,
.widget.signupform fieldset input,
input.blog-search-input, .widget.signupform input,
.widget.blogsearch input {
	border: 1px solid @color-swatch2;
	text-indent: 8px;
	-webkit-appearance: none;
	background-color: @color-swatch1;
	height: 40px;
	width: 70%;
	.transition( all, 0.3s, ease);
	&:hover {
		border: 1px solid darken(@color-swatch2, 15%);
		.transition( all, 0.3s, ease);
	}
	&:focus {
		border: 1px solid darken(@color-swatch2, 25%);
	}
	@media @mobile {
		width: 100%;
		margin-bottom: 10px;
	}
}

textarea {
	border: 1px solid @color-swatch2;
	text-indent: 8px;
	-webkit-appearance: none;
	background-color: @color-swatch1;
	.transition( all, 0.3s, ease);
	&:hover {
		border: 1px solid darken(@color-swatch2, 15%)!important;
		.transition( all, 0.3s, ease);
	}
	&:focus {
		border: 1px solid darken(@color-swatch2, 25%)!important;
	}
}


.ecombasketsummary a {
	display: inline-block;
	text-decoration: none;
}

.widget.ecombasket .ecombasket-pull, .widget.ecomcheckout .checkout-order-button {
	margin: 15px 0;
	display: inline-block;
	padding: 10px 30px;
	.transition( all, 0.3s, ease);
	&:hover {
		.transition( all, 0.3s, ease);
		border-radius: 0;
	}
	p {
		font-family: @font-swatch7-font-family;
		letter-spacing: @font-swatch7-letter-spacing;
		text-transform: uppercase;
		&:before {
			height: 17px;
		}
	}
}



.widget.profile form button {
	&:hover {
	}
}

.widget.dropbox button {
	padding: 10px 30px 10px 60px;
	border: none;
	.transition( all, 0.3s, ease);
	background-image: image('/images/ic-dropbox-hover.svg');
	background-size: 24px;
	background-position: 30px;
	text-transform: uppercase;
	&:hover {
		cursor: pointer;
		border-radius: 0;
		.transition( all, 0.3s, ease);
	}
	@media @mobile {
		width: 100%;
	}
}

.widget.tweet a  {
	padding: 10px 30px 10px 60px;
	border: none;
	.transition( all, 0.3s, ease);
	background-image: image('/images/ic-twitter-hover.svg');
	background-position: 30px;
	text-transform: uppercase;
	display: inline-block;
	height: 40px;
	text-align: center;
	&:hover {
		cursor: pointer;
		border-radius: 0;
		background-image: image('/images/ic-twitter-hover.svg');
		background-position: 30px;
		.transition( all, 0.3s, ease);
	}
	@media @mobile {
		width: 100%;
	}
}

.productlist-search {
	input {
		@media @mobile {
			display: inline-block;
			margin-right: 0;
			width: 100%;
		}
	}
	button {
		@media @mobile {
			display: inline-block;
			width: 100%;
			vertical-align: top;
		}
	}
}

.widget.paypalbuynow .widget.button.paypal {
	border: none;
	.transition( all, 0.3s, ease);
	padding: 10px 30px 10px 50px;
	background-image: image('/images/ic-paypal-hover.svg');
	background-position: 30px;
	text-transform: uppercase;
	&:hover {
		background-color: @font-swatch7-background-color-hover;
		cursor: pointer;
		color: @color-swatch1;
		border-radius: 0;
		.transition( all, 0.3s, ease);
	}
	@media @mobile {
		width: 100%;
	}
}

.widget.clicktocall a {
	@media @mobile {
		background-image: image('/images/ic-call-hover.svg');
		background-size: 18px;
		background-position: 30px;
		background-repeat: no-repeat;
		border: none;
		.transition( all, 0.3s, ease);
		text-align: center;
		width: 100%;
		display: inline-block;
		text-transform: uppercase;
		&:hover {
			background-image: image('/images/ic-call-hover.svg');
			background-size: 18px;
			background-position: 30px;
			border-radius: 0;
			.transition( all, 0.3s, ease);
		}
	}    
}

textarea {
	padding-top: 10px;
}



.widget {
	&.contactform {
		margin: 20px 0;
		label {
			font-family: @font-swatch4-font-family;
			font-size: @font-swatch5-font-size;
			font-weight: @font-swatch4-font-weight;
			line-height: @font-swatch4-line-height;
			margin: 0 0 5px;
		}
		input, textarea {
			margin-bottom: 10px;
		}
		button.btn {
			@media @mobile {
				width: 100%;
			}
			 &:hover {
			}
		}
	}
	&.profile {
		form {
			button {
			}
		}
	}
	&.signupform fieldset {
		button {
			vertical-align: top;
			 &:hover {
			}
		}
		input {
		}
	}
	&.blogsearch {
		margin: 20px 0;
		label {
			display: block;
		}
		input {
		}
		button {
			background-color: @font-swatch7-background-color;
			font-family: @font-swatch7-font-family;
			font-size: @font-swatch7-font-size;
			font-weight:  @font-swatch7-font-weight;
			line-height:@font-swatch7-line-height;
			color: @font-swatch7-color;
			letter-spacing: @font-swatch7-letter-spacing;
			border: 0;
			margin: 0;
			text-decoration: none;
			 &:hover {
				background-color: @font-swatch7-background-color-hover;
				cursor: pointer;
			}
		}
	}
	&.button {
		button.btn:hover {
		}
	}
}

/* 11. Misc Elements */

button.btn, .contactform button.btn, .widget.blogsearch button, .widget.profile form button,
.widget.signupform fieldset button {
	padding: 0 40px;
	height: 40px;
	min-width: 120px;
	border: none;
	text-transform: uppercase;
	.transition( all, 0.5s, ease);
	&:hover {
		background-color: @font-swatch7-background-color-hover;
		cursor: pointer;
		.transition( all, 0.5s, ease);
		.border-radius(0px);
	}
}

.widget.blogsearch button, .widget.profile form button,
.widget.signupform fieldset button, .productlist-search button {
	width: 30%;
	float: right;
	@media @mobile {
		width: 100%;
		margin-bottom: 10px;
	}
}


blockquote {
	margin: 20px 0;
	padding: 0;
	font-family: @font-swatch9-font-family;
	font-size: @font-swatch4-font-size;
	font-style: italic;
	&:before {
		display: none;
	}
}

.widget.line {
}

hr.line {
	background-color: fade(@color-swatch6, 10%);
}

.widget.map, .widget.youtube, .widget.content, .signupform {
	margin: 20px 0;
}

.content .bk-content-text ol {
	list-style-position: inherit;
}

.bk-profile-address p:after {
	display: none;
}

.widget.gallery ul li {
	width: 33.333%!important;
	@media @tablet {
		width: 50%!important;
	}
	@media @mobile {
		width: 100%!important;
	}
}

.widget.gallery ul li .inner {
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	a {
		display: table;
		width: 100%;
		height: 100%;
	}
}

.widget.gallery ul li span.inner {
	text-align: center;
	.title {
		color: @color-swatch1;
		font-family: @font-swatch3-font-family;
		font-weight: @font-swatch3-font-weight;
		font-size: @font-swatch3-font-size;
		text-transform: uppercase;
	}
	.description {
		color: @color-swatch1;
		font-family: @font-swatch5-font-family;
		font-weight: @font-swatch5-font-weight;
		font-size: @font-swatch5-font-size;
	}
}

.widget.gallery .inner .image-data {
	background: fade(@color-swatch4, 65%);
	display: table-cell!important;
	opacity: 0;
	vertical-align: middle;
}

.widget.gallery .inner:hover .image-data {
	.transition( opacity, 0.5s, ease );
	opacity: 1;
}

// Twitter Feed
.widget.twitter {
	margin: 20px 0;
	img {
		border-radius: 50%;
		width: 70px;
	}
	p {
		color: @color-swatch4;
		padding: 0;
	}	
	li {
		border-bottom: darken(@color-swatch1,10%);
	}
	ul li a:hover {
		text-decoration: none;
	}
	li:last-child {
		padding-bottom: 0;
	}
	// Tweet Content
	.twitter-profile-pic {
		@media @tablet {
		}
	}
	.twitter-content {
		//margin-top: 5px;
		.bk-full-name,
		a, p a, span, a .bk-full-name {
			color: @color-swatch3;
			font-family: @font-swatch5-font-family;
			font-size: @font-swatch5-font-size;
			line-height: @font-swatch5-line-height;
			letter-spacing: @font-swatch5-letter-spacing;
		}
		// Tweet Link
		/*p a, */ a:hover span.bk-full-name {
			color: darken(@color-swatch3, 20%);
			text-decoration: none;
		}
		p a:hover {
			color: darken(@color-swatch3, 20%);
		}
		span a {
			text-decoration: none;
			&:hover {
				color: darken(@color-swatch3, 20%);
				text-decoration: none;
			}
		}
		// Extra Info
		time {
			display: none;
		}
		span {
			font-weight: inherit;
		}
		span, span a {
			font-size: 13px;
		}
	}
}

.widget {
	&.responsiveslideshow {
		margin-top: 20px;
		.slideshow-widget-wrapper {
		}
		.slideshow-widget-controls {
			.dot {
				height: 10px;
				width: 10px;
				margin: 0 5px;
				background-color: transparent;
				border: 1px solid @color-swatch1;
				.border-radius(100px);
				&:hover {
					background-color: fade(@color-swatch1, 20%);
					cursor: pointer;
				}
				&.selected {
					background-color: @color-swatch1;
					border: 0;
				}
			}
		}
		.content-wrapper {
			background-color: fade(@color-swatch1, 75%);
			top: initial;
			display: inline-block;
			min-height: 50px;
			height: auto;
			max-width: 65%;
			left: 15px;
			right: auto;
			max-width: 80%;
			bottom: 15px;
			span {
				color: @color-swatch5;
				padding: 10px 4px 0 10px; 
				@media @mobile {
					padding-right: 10px;
				}
				&:last-child {
					padding-right: 10px;
				}
				&.title {
					font-weight: @font-swatch2-font-weight;
				}
			}
		}
		.slideshow-widget {
			.btn-play {
				background-color: transparent;
				height: 75px;
				width: 75px;
				left: 50%;
				top: 50%;
				opacity: .8;
				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				@media @tablet {
				}
				@media @mobile {
				}
				&:hover {
					opacity: 1;
				}
				&:after {
					position: absolute;
					top: 0;
					left: 0;
					width: 75px;
					height: 75px;
					content: '';
					background-image: image('/images/slideshow-play.svg');
					background-size: 70px;
					background-position: center center;
					background-repeat: no-repeat;
				}
				&.pause:after {
					//left: 3px;
					//line-height: 80px;
					background-image: image('/images/slideshow-pause.svg');
				}
			}
			.btn-prev, .btn-next {
				background-color: transparent;
				height: 50px;
				width: 50px;
				text-indent: 1000px;
				overflow: hidden;
				opacity: .8;
				top: 50%;
				transform: translate(0, -50%);
				-webkit-transform: translate(0, -50%);
				&:hover {
					opacity: 1;
				}
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					width: 50px;
					height: 50px;
					text-indent: 0;
				}
			}
			.btn-prev {
				left: 20px;
				&:before {
					content: '';
					background-image: image('/images/slideshow-arrow-left.svg');
					background-size: 40px;
					background-position: center center;
					background-repeat: no-repeat;
				}
				@media @tablet {
					left: 10px;
				}
			}
			.btn-next {
				right: 20px;
				&:before {
					content: '';
					background-image: image('/images/slideshow-arrow-right.svg');
					background-size: 40px;
					background-position: center center;
					background-repeat: no-repeat;
				}
				@media @tablet {
					right: 10px;
				}
			}
		}
		.slideshow-image-list {
		}
	}
}

.widget.socialicons, .widget.profile .bk-profile-socialicons {
	margin: 2em 0 1em;
	text-align: center;
	span a {
		background-color: transparent;
		background-size: 26px;
		&:hover{
			background-color: transparent;
		}
	}
}

.svg {
	.bk-socialicons-linkedin {
		a {
			background-image: image('/images/social/socialicons-linkedin-hover.svg');
			opacity: 1;
			&:hover {
				opacity: 0.7;
			}
		}
	}
	.bk-socialicons-twitter {
		a {
			background-image: image('/images/social/socialicons-twitter-hover.svg');
			opacity: 1;
			&:hover {
				opacity: 0.7;
			}
		}
	}
	.bk-socialicons-facebook {
		a {
			background-image: image('/images/social/socialicons-facebook-hover.svg');
			opacity: 1;
			&:hover {
				opacity: 0.7;
			}
		}
	}
	.bk-socialicons-rss {
		a {
			background-image: image('/images/social/socialicons-rss-hover.svg');
			opacity: 1;
			&:hover {
				opacity: 0.7;
			}
		}
	}
	.bk-socialicons-googleplus {
		a {
			background-image: image('/images/social/socialicons-googleplus-hover.svg');
			opacity: 1;
			&:hover {
				opacity: 0.7;
			}
		}
	}
	.bk-socialicons-youtube {
		a {
			background-image: image('/images/social/socialicons-youtube-hover.svg');
			opacity: 1;
			&:hover {
				opacity: 0.7;
			}
		}
	}
}

/* Scrollbars */

body, html {
	-ms-overflow-style: none;
}