<footer class="bk-footer">
	<div>
		{{widget('profile', 'footercopyright', {'profileType':'copyright', 'copyright':'profile'})|raw}}
	</div>
	<div>
		{{widget('profile', 'footericons', {'profileType':'socialicons'})|raw}}
	</div>
</footer>